body{
    background-color: #9ff5b9;
}
.middle {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 50%;
    width: 50%;
    font-size: large;
    color: #252525;
    text-align: center;
}

.middle h4 {
    margin: 0%;
}

.img {
    border-radius: 50%;
}
.img_class {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}